@mixin button {
    @include raised;
    background: $control;

    box-sizing: border-box;
    border: none;
    
    border-radius: 0;
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;

    &::-moz-focus-inner {
        border: 0;
    }

    &.focused, &:focus {
        outline: 1px dotted #000;
        outline-offset: -4px;
    }

    &:not(:disabled).active, &:not(:disabled):active {
        @include sunken;
    }
}

button {
    @include button;
}