
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 250px;
    height: 15px;
    border-radius: 0;
    background-color: silver;
    border-color: #000 #fff #fff #000;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    padding: 2px;
    box-shadow: 0 -2px 0 grey, -2px 0 0 grey, -2px -2px 0 grey;
    image-rendering: crisp-edges
}

progress::-webkit-progress-bar {
    background-color: silver;
    border-radius: 0
}

progress::-webkit-progress-value {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5AcNFAAkJmcYhAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAtSURBVCjPYzxw4MB/BiIACwMDA4ODwwG8ig4ccGBgYiASjCocrApZYHFJCAAAmGcIH2MNGHUAAAAASUVORK5CYII=");
    background-size: contain;
    background-repeat: repeat-x
}

progress::-moz-progress-bar {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5AcNFAAkJmcYhAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAtSURBVCjPYzxw4MB/BiIACwMDA4ODwwG8ig4ccGBgYiASjCocrApZYHFJCAAAmGcIH2MNGHUAAAAASUVORK5CYII=");
    background-size: contain;
    background-repeat: repeat-x
}
