
ul.tree-view {
    display: block;
    background: $window;
    padding: 6px;
    margin: 0
}

ul.tree-view li {
    list-style-type: none;
    margin-top: 3px
}

ul.tree-view a {
    text-decoration: none;
    color: #000
}

ul.tree-view a:focus {
    background-color: navy;
    color: #fff
}

ul.tree-view ul {
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 16px;
    border-left: 1px dotted $control-dark
}

ul.tree-view ul>li {
    position: relative
}

ul.tree-view ul>li:before {
    content: "";
    display: block;
    position: absolute;
    left: -16px;
    top: 6px;
    width: 12px;
    border-bottom: 1px dotted $control-dark
}

ul.tree-view ul>li:last-child:after {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 7px;
    bottom: 0;
    width: 8px;
    background: #fff
}

ul.tree-view ul details>summary:before {
    margin-left: -22px;
    position: relative;
    z-index: 1
}


ul.tree-view details {
    margin-top: 0;
}

ul.tree-view details>summary {
    display: block;
}

ul.tree-view details>summary:before {
    text-align: center;
    display: block;
    float: left;
    content: "+";
    border: 1px solid $control-dark;
    width: 8px;
    height: 9px;
    line-height: 9px;
    margin-right: 5px;
    padding-left: 1px;
    background-color: #fff
}

ul.tree-view details[open] summary {
    margin-bottom: 0
}

ul.tree-view details[open]>summary:before {
    content: "-"
}
