.balloon {
    background-color: $tooltip;
    border: black 1px solid;
    border-radius: 8px;
    padding: 9px 12px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.balloon-header {
    display: flex;
    margin-bottom: 8px;
}

.balloon-title {
    font-weight: bold;
}

.balloon-icon {
    margin-right: 9px;
}