.document {

    table {
        font-size: 10pt;
        border-collapse: collapse;

        ul {
            padding-inline-start: 14pt;
        }
    }

    table, td, th {
        border: 1px solid #000;
    }

    /* Reduce indent for text inside cells */
    table > * {
        vertical-align: top;
    }

    th {
        @include raised-button;

        background: $control;
        font-weight: normal;
        padding: 4px 8px;
    }
}

.document-content {
    padding: 10px;
    padding-block-start: 8px;
    height: 500px;
    max-height: calc(100vh - 76px);
}

.compat-table {
    width: 100%;
    text-align: center;

    img, td {
        vertical-align: middle;
    }

    img {
        width: 16px;
        height: 16px;
    }
}