// Colors
$control-dark-dark: #404040;
$control-dark: #808080;
$control: #d4d0c8;
$control-light: #d4d0c8;
$control-light-light: white;

$control-text: black;
$gray-text: gray;

$active-caption: #0a246a;
$gradient-active-caption: #a6caf0;

$desktop: #3a6ea5;
$window: white;
$tooltip: #ffffe1;

// Fonts
$ui-font-family: 'Tahoma', sans-serif;
$ui-font-size: 8pt;

$code-font-family: 'Lucida Console', 'Consolas', monospace;
$code-font-size: 8pt;