// Colors
$control-dark-dark: black;
$control-dark: gray;
$control: silver;
$control-light: silver;
$control-light-light: white;

$control-text: black;
$gray-text: gray;

$active-caption: navy;
$gradient-active-caption: #1084d0;

$desktop: #008282;
$window: white;
$tooltip: #ffffe1;

// Fonts
$ui-font-family: 'MS Sans Serif', sans-serif;
$ui-font-size: 8pt;

$code-font-family: 'Lucida Console', 'Consolas', monospace;
$code-font-size: 8pt;