body {
    font-family: 'MS Sans Serif', sans-serif;
    background: #008282;
    margin: 12px;
}

.inset {
    border: none;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    margin: 0;
    background: #fff;
    padding: 2px;
}

.document {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10pt;
    overflow: scroll;
}

.document-content {
    padding: 10px;
    padding-block-start: 8px;
    height: 500px;
    max-height: calc(100vh - 76px);
}

.document h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
}

.document h1 {
    font-size: 14pt;
    font-weight: bold;
}

.document h2 {
    font-size: 12pt;
    font-weight: bold italic;
}

.document h3 {
    font-size: 12pt;
    font-weight: normal;
}

.navigation-icons {
    display: flex;
    padding: 2px;
}

.navigation-icons a, .navigation-icons a:link {
    color: black;
    text-decoration: none;
}

.navigation-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 50px;
    min-height: 36px;
    padding: 4px;
    cursor: pointer;
}

.navigation-icon:hover {
    box-shadow: inset -1px -1px #000, inset 1px 1px #fff;
}

.navigation-icon img {
    image-rendering: crisp-edges;
    width: 16px;
    height: 16px;
    margin: 0 auto 4px auto;
}

.navigation-icon:not(:hover) img {
    filter: grayscale(1);
}

.center-container {
    width: 800px;
    height: 600px;
    max-height: 100%;
    margin: auto;
}

.window-body {
    margin: 1px;
}

.taskbar {
    background: silver;

    position: fixed;
    left: 0;
    bottom: 0;
    
    max-height: 30px;
    width: 100%;
    box-shadow: inset 0 1px silver, inset 0 2px white;
    padding: 4px 2px;
    display: flex;
}

.taskbar button {
    min-height: 22px;
}

.start-button {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 4px;
    min-width: 0;
    margin-right: 5px;
}

.start-button img {
    margin-right: 3px;
}

.taskband-button {
    line-height: 22px;
    min-width: 160px;
    max-width: 160px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    padding: 0 12px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}